@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700;800&display=swap");

html {
    font-family: "Urbanist", sans-serif;
}

/* --------------------------------HEADER----------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo_wrapper {
    display: flex;
    gap: 24px;
    align-items: center;
}

.menu_btn {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #006ce5;
    gap: 4px;
    border: none;
}

.menu_items {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu_item {
    color: #1a1b1b;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.live_link {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    padding-left: 8px;
    border-left: 1px solid #d4d4d4;
}

.live_link p {
    color: #ed0e05;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding-right: 8px;
}

/* --------------------------------MAIN-------------------------- */

main {
    padding: 0 12px;
}

/* ------------------CURRENT INFORMATION------------------------ */

.current_information_wrapper {
    position: relative;
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.current_information_onscription {
    color: #1a1b1b;
    font-size: 17px;
    line-height: 125%; /* 21.25px */
}

.current_information_title {
    color: #1a1b1b;
    font-size: 54px;
    font-weight: 600;
    line-height: 110%; /* 59.4px */
}

.current_photo {
    position: relative;
    height: 416px;
    background-image: url("../img/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.current_information_location {
    position: absolute;
    bottom: -1px;
    left: 0;
    padding: 10px 20px 10px 0;
    background-color: #fff;
    color: #0b3462;
    font-size: 16px;
    line-height: 110%; /* 17.6px */
    text-transform: uppercase;
}

.current_information_description {
    margin-top: 16px;
    color: #1a1b1b;
    font-size: 24px;
    font-weight: 800;
    line-height: 110%; /* 26.4px */
    margin-bottom: 8px;
}

.news_wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    text-decoration: none;
    border-bottom: 1px solid #d4d4d4;
}

.news_img {
    width: 100%;
}

.type_of_news {
    color: #0b3462;
    font-size: 16px;
    line-height: 110%; /* 17.6px */
    text-transform: uppercase;
    padding: 10px 20px 10px 0;
}

.news_description {
    color: #1a1b1b;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%; /* 21.6px */
}

/* ----------------------MORE NEWS----------------------------- */

.more_news_onscription {
    color: #1a1b1b;
    font-size: 34px;
    font-weight: 800;
    line-height: 110%; /* 37.4px */
    margin: 32px 0;
}

.more_news_wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.more_news_container {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.video_wrapper {
    position: relative;
    margin-bottom: 12px;
}

.more_news_img {
    width: 100%;
}

.video_img {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 32px;
    height: 32px;
}
.more_news_title {
    color: #1a1b1b;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%; /* 21.6px */
    margin-bottom: 10px;
}

.more_news_description {
    color: #1a1b1b;
    font-size: 16px;
    line-height: 120%; /* 19.2px */
    margin-bottom: 10px;
}

.more_news_date {
    color: #1a1b1b;
    font-size: 14px;
    font-weight: 200;
    line-height: 120%; /* 16.8px */
}

/* --------------------------PAGE SLIDER------------------------- */

.page_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 42px 0;
}

.page_slider_link {
    text-decoration: none;
    box-sizing: border-box;
    width: 37px;
    color: #006ce5;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    line-height: 120%; /* 16.8px */
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #d4d4d4;
}

.page_slider_link.active {
    color: #1a1b1b;
}

/* ---------------------------FOOTER---------------------------- */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 3px solid #d4d4d4;
}

/* ---------------------------SESARCH WRAPPER------------------- */

.search_wrapper {
    padding: 44px 0;
    background: #eef2f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    padding-bottom: 32px;
}

.search_block input {
    width: 306px;
    outline: none;
    border: none;
    padding: 12px 0;
    padding-left: 10px;
    background-color: #dce4e7;
    color: #919191;
    font-size: 14px;
    line-height: 110%; /* 15.4px */
}

.search_submit {
    padding: 10px;
    background-color: #006ce5;
    border: none;
}

.todays_wrapper {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.todays_onscription {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 110%; /* 19.8px */
}

.todays_links {
    display: flex;
    gap: 8px;
    column-gap: 8px;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
}

.todays_link {
    text-decoration: none;
    border-radius: 800px;
    background: #fff;
    padding: 8px 16px;
    color: #1a1b1b;
    text-align: center;
    font-size: 16px;
    line-height: 120%; /* 19.2px */
}

/* ------------------------FOOTER LOGO WRAPPER--------------- */

.footer_logo_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 24px;
}

.footer_logo_wrapper img {
    width: 154px;
}

.footer_logo_wrapper p {
    color: #1a1b1b;
    text-align: center;
    font-size: 16px;
    line-height: 120%; /* 19.2px */
}

/* ------------------------ADAPTATION--------------------------- */

/* phone */

.tablet {
    display: none;
}

.desktop {
    display: none;
}

@media (min-width: 768px) {
    .news_wrapper {
        flex-direction: row;
        text-decoration: none;
        gap: 24px;
        padding: 16px 0;
    }

    .news_img {
        width: auto;
    }

    .news_wrapper:last-of-type {
        padding-bottom: 56px;
    }

    .more_news_container {
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .more_news_img {
        width: auto;
    }

    .todays_links {
        padding: 0 121px;
    }
}

@media (min-width: 1368px) {
    .phone {
        display: none;
    }

    .desktop {
        display: flex;
    }

    header {
        padding: 14px 36px;
    }

    main {
        padding: 0 36px;
    }

    .current_information_onscription {
        color: #1a1b1b;
        font-size: 22px;
        font-weight: 400;
        line-height: 125%; /* 27.5px */
    }

    .current_information_title {
        padding-bottom: 4px;
        border-bottom: 1px solid #d4d4d4;
        color: #1a1b1b;
        font-size: 62px;
    }

    .current_news_wrapper {
        padding-top: 32px;
        padding-bottom: 56px;
        border-bottom: 1px solid #d4d4d4;
        display: flex;
        gap: 24px;
    }

    .current_photo {
        width: 746px;
    }

    .current_information_description {
        margin-top: 16px;
        color: #1a1b1b;
        font-size: 28px;
        font-weight: 800;
        line-height: 110%; /* 30.8px */
    }

    .news_wrapper {
        padding: 32px 0;
    }

    .news_img {
        width: 196px;
        height: 110px;
    }

    .news_wrapper:first-of-type {
        padding-top: 0;
    }

    .news_wrapper:last-of-type {
        padding-bottom: 0;
        border: none;
    }

    .more_news_section {
        display: flex;
        gap: 36px;
        margin-top: 56px;
    }

    .more_news_onscription {
        margin: 0;
        width: 605px;
    }

    .todays_links {
        width: 526px;
    }
}
